/*Code pour le menu*/

body
{
    margin: xx auto ;
    padding: 0;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
}

#menu li
{
 
    display: inline-block;
    font-size: 12px;
    color: white;
    position: relative;
    margin-right: 112px;
}

.evt
{
    margin-left: 200px;
}
#menu a
{
    color: white;
    text-decoration: none;
}

#menu
{
    border-width: 1px solid black;
    background-color: black;
   
    
}

nav
{
    border-width: 1px solid black;
    background-color: black;
}

.fond
{
    position: absolute;
}

#paris
{
  position: absolute;
  
}

#even

{
    position: absolute;
    top:2px;
    left:10px;
    z-index: 5;
}


#searchbar
{   position: absolute;
    margin-top: 260px;
    margin-left: 565px;
    height: 80px;
    z-index: 5;
    }


#search
{
    border-radius: 2em;
    width: 392px;
    height: 34px;
    border-style:solid;
    border-width: 1px;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 5px 10px 5px 10px;
}

#search-btn{
    height: 30px;
    width: 100px;
    color: white;
    background-color: #EA008A;
    
}

.recherche
{
    position: absolute;
    margin-top: 350px;
    margin-left: 889px;
    
   font-size: 20px;
    
}

.recherche a /* Liens par défaut (non survolés) */
{
   text-decoration: none;
   color:yellow;
    font-size: 15px;
  
  
}

.recherche a:hover /* Apparence au survol des liens */
{
  text-decoration: underline;
   color: yellow;
}

/*Code pour la section de la page*/

/*Code commun aux 2 pages creer.php*/
fieldset
{
  position: absolute;
  margin-top: 500px;
  margin-left:180px ;
  width: 880px;
  height: 700px;
  overflow: auto;
}
 
legend
{
    color: #EA008A;
    font-size: 48px;
}

.creer
{
	front-size: 15px;
	font-family: Comic Sans MS, Times New Roman;
}

h1
{
  display: inline-block;
  font-size: 38px;
}

/*h2
{
    font-size: 32px;
}
*/
h3
{
  margin-left: 30%;
  font-size: 28px;
}

h4
{
  font-size: 24px;
  margin-left: 200px;
  margin-top: 30px;
  text-decoration: underline;
  font-weight: bold;
}

h5
{   
    display: inline-block;
    margin-left: 10%;
    font-size: 18px;
    text-decoration: underline;
}

.icone
{
  float: left;
  margin-left: 250px;
}

.bouton3, .bouton4
{
  margin-left: 20%;
}

/*Code pour la page creer1.php*/

.boutons
{
  margin-left: 20%;
}

#bars_brasseries_cafes, #cinema, #clubbing, #conferences_colloqiums, #enfants_familles, #festivals, #marches_brocantes, #mode_shopping, #pique-niques, #restaurants, #salons_expositions, #scenes, #soirees, #sports, #visites
{
  width: 180px;
}

#enfants, #filles, #garcons, #adolescents, #jeunes, #etudiants, #femmes, #hommes, #adultes, #actifs, #retraites, #seniors
{
  width: 180px;
}

.suivant
{
  margin-left: 45%;
  margin-top: 10%;
}
/*Code pour la page creer2.php*/

.label, .bouton1, .bouton2
{
  position: absolute;
  margin-left: 20%;
}

.input, .select, .textarea2, .label2
{
  position: relative;
  margin-left: 50%;
}

.textarea
{
  margin-left: 20%;
}

#age_min
{
    width: 50px;
}

#age_max
{
    width: 50px;
}

#description
{
  border: 1px solid black;
  width: 580px;
  height: 175px;
}

#type_lieu
{
    width: 100px;
}

#nb_participants_max
{
    width: 80px;
}

#nb_vendeurs
{
  width: 20px;
}

#prix_faible_description
{
    font-weight: bold;
    width: 150px;
}

#prix_fort_description
{
    font-weight: bold;
    width: 135px;
}

.choisir_fichier
{
    position: relative;
    margin-top: 5%;
    margin-left: 40%;
}
/* Bouton envoyer le formulaire */
.bouton_envoi
{
  margin-top: 10%;
  margin-left: 45%;
}

/* Code pour le footer */
footer
{
    border-width: 1px solid black;
    background-color: black;
  
}

#fin li
{
    display: inline-block;
    font-size: 12px;
    color: white;
}


#fin a
{ color: white;
  text-decoration: none;
  display: inline-block;
  margin-right: 40px;
  margin-left: 40px;
    
     
}

.fi
{
  margin-left: 250px;
}