/*Code pour le menu*/
#menu li
{
 
    display: inline-block;
    font-size: 12px;
    margin-right: 140px;
    color: white;    
}

#menu a
{
    color: white;
    text-decoration: none;
}

nav
{
    border-width: 1px solid black;
    background-color: black;
}

/*Code pour le fond de la page*/
body
{
  background: url('Fonds/fond5.jpg');
}

/*Code pour l'en-tête*/
.fond
{
    position: absolute;
}

#paris
{
  position: absolute;
  
}

#even

{
    position: absolute;
    top: 0px;
    left: 0px;
}

.champ
{   position: absolute;
    margin-top: 15px;
    margin-left: 950px;
    width: 270px; 
    height: 80px;
    }

.search
{
  position: absolute;
  margin-top: 5px;
  margin-left: 1220px;
}

.avancee
{
  position: absolute;
  margin-top: 35px;
  margin-left: 1102px;
}

/*Code pour la section de la page*/
fieldset
{
  position: absolute;
  margin-top: 500px;
  margin-left:180px ;
  width: 880px;
  height: 700px;
  overflow: auto;
}
 
legend
{
    color: #EA008A;
    font-size: 48px;
}

.creer
{
	front-size: 15px;
	font-family: Comic Sans MS, Times New Roman;
}

h1
{
  font-size: 38px;
}

.selectionner, .remplir
{
  font-size: 32px;
  margin-top: 80px;
  margin-left: 60px;
}

ol
{
  font-size: 18px;
  margin-left: 220px;
}

.accessibilite, .parametres, .information
{
  float: left;
  margin-left: 300px;
}

.public, .prive, .majeurs, .mineurs, .monde
{
  width:40px;
  height:40px;
}

.nom
{
  margin-left: 100px;
  margin-top: 30px;
}

.quantite
{
  margin-left: 16px;
}

h3
{
  font-size: 28px;
}

h4
{
  font-size: 24px;
  margin-left: 200px;
  margin-top: 30px;
  text-decoration: underline;
  font-weight: bold;
}

#lieu
{
  margin-left: 100px;
}

.form4
{
  width: 150px;
  margin-left: 300px;
  margin-top: 10px;
  display: inline-block;
  vertical-align: top;
}

.form5
{
  width: 150px;
  margin-left: 50px;
  margin-top: 10px;
  display: inline-block;
  vertical-align: top;
}

.min, .max
{
  width: 180px;
}

#description
{
  border: 1px solid black;
  margin-left: 300px;
  margin-top: 10px;
  width: 500px;
  height: 200px;
}

.vendeur, .maxp
{
  width: 180px;
  margin-left: 300px;
  margin-top: 10px;
  display: inline-block;
  vertical-align: top;
}

.envoyer
{
  margin-top: 40px;
  margin-left: 400px;
}