#menu li
{
 
    display: inline-block;
    font-size: 12px;
    margin-right: 140px;
    color: white;
    
}

#menu a
{
    color: white;
    text-decoration: none;
}



nav
{
    border-width: 1px solid black;
    background-color: black;
}

.fond
{
    position: absolute;
}

#paris
{
  position: absolute;
  
}

#even

{
    position: absolute;
    top:3px;
    left:0px;
}

.search

{
    position: absolute
    left: 60px;
}


#searchbar
{    position: absolute;
    margin-top: 350px;
    margin-left: 650px;
    border-radius: 2em;
    }


.formulaire     
{
    display:inline-block;
    
}


.formulaire .champ      
{   width:200px; 
    height:60px;
}

.formulaire .bouton   
{ 
    background-image: url(images/loupe.jpg);
}

background-repeat:
      {   width: 50px;
          height: 60px;
          padding: 0; }


.recherche
{
    position: absolute;
    margin-top: 370px;
    margin-left: 750px;
    color: red;
   font-size: 16px;
    
}

.recherche a /* Liens par défaut (non survolés) */
{
   text-decoration: none;
   color:yellow;
  
  
}

.recherche a:hover /* Apparence au survol des liens */
{
   text-decoration: underline;
   color: yellow;
}



fieldset
{
    margin-top: 522px;
    margin-left:217px ;
    width: 780px;
    height: 80%;
    background-color: #aca8a8;
}
 
legend
{
    color: #EA008A;
    font-size: 48px;
}

body
{
    background-color: grey;
}

h1
{
  font-size: 32px;
}

.selectionner
{
  font-size: 24px;
  margin-top: 80px;
  margin-left: 60px;
}


.accessibilite
{
  float: left;
  margin-left: 300px;
}

.parametres
{
  float: left;
  margin-left: 300px;
}

.publique, .prive, .majeurs, .mineurs, .monde
{
  width:40px;
  height:40px;
}
/*Le bas de la page*/ 
footer
{
    border-width: 1% solid black;
    background-color: black;
    margin-top: 100%;
}

#fin li
{
    display: inline-block;
    font-size: 12px;
    color: white;
}


#fin a
{ color: white;
  text-decoration: none;
  display: inline-block;
  margin-right: 40px;
  margin-left: 40px;
    
     
}

.fi
{
  margin-left: 250px;
}
h1{
  color: #ea008a;
}
#Vi
{
  margin-left: 65px;
}
#Dep
{
  margin-left: 13px;
}
#CP
{
  margin-left: 21px;
}
#Pay
{
  margin-left: 64px;
}
#Reg
{
  margin-left: 49px;
}
input[type=texte], input[type=number]
{
 box-shadow:1px 1px 1px #ea008a;
 cursor:pointer;
 background-color:  #f4cee4 ;
  

}  
input[type=checkbox]
  {
 box-shadow:1px 1px 1px #ea008a;
 cursor:pointer;
 background-color: #f4cee4;

}

aside
{
 float: right;
 margin-right: 150px;

}
