

body
{
    margin: xx auto ;
    padding: 0;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
}

#menu li
{
 
    display: inline-block;
    font-size: 12px;
    color: white;
    position: relative;
    margin-right: 3%;
   
}

.evt
{
    margin-left: 275px;
}
#menu a
{
    color: white;
    text-decoration: none;
}

#menu
{
    border-width: 1px solid black;
    background-color: black;
   
    
}


#menu li ul /* Sous-listes */
{ 
        position: absolute; /* Position absolue */
        width: 144px; /* Largeur des sous-listes */
        top: -999em; /* Hop, on envoie loin du champ de vision */
}

#menu li ul li /* Éléments de sous-listes */
{
        /* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */
        border-top : 0px solid black; /* on met une bordure blanche en haut de chaque élément d'une sous liste */
}

/* IE ne reconnaissant pas le sélecteur ">" */
html>body #menu li ul li                
{
        border-top : 0px solid black; /* on met une bordure transparente en haut de chaque élément */
}

#menu li ul 
{
        margin    : -22px 0 0 144px ; /* On décale les sous-sous-listes pour qu'elles ne soient pas au dessus des sous-listes */ 
        /* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */
        border-left     : 0px solid black ; /* Petite bordure à gauche pour ne pas coller ... */      
}

/* IE ne reconnaissant pas le sélecteur ">" ... je me répète ;-) */
html>body #menu li ul                 
{
        border-left : 1px solid transparent ; /* on met une bordure transparente sur la gauche de chaque élément */
}

#menu a:hover /* Lorsque la souris passe sur un des liens */    
{
        color: #EA008A; /* On passe le texte en noir... */
        background: black; /* ... et au contraire, le fond en blanc */
}


#menu li:hover ul , #menu li.sfhover ul  /* Sous-sous-listes lorsque la souris passe sur un élément de liste */
{
        left: 20em; /* On expédie les sous-sous-listes hors du champ de vision */
}

#menu li:hover ul, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul  /* Sous-listes lorsque la souris passe sur un élément de liste ET sous-sous-lites lorsque la souris passe sur un élément de sous-liste */
{
        left: auto; /* Repositionnement normal */
        min-height: 0; /* Corrige un bug sous IE */
}


#mn
{
    border-width: 1px solid black;
    background-color: black;
}

.fond
{
    position: absolute;
    
}

#paris
{
  position: relative;
  margin-top:11.8%;
  
  
}

#even

{
    position: absolute;
    top:-3px;
    left:10px;
    z-index: 5;
}


#searchbar
{   position: absolute;
    margin-left: 45%;
    height: 80px;
    z-index: 10;
    margin-top: -550px;
    }


#search
{
    border-radius: 2em;
    width: 392px;
    height: 34px;
    border-style:solid;
    border-width: 1px;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 5px 10px 5px 10px;
    background-color: white;
    color: black;
   
}

#search-btn{
    height: 30px;
    width: 100px;
    color: white;
    background-color: #EA008A;
    margin-left: 76%;
    margin-top: -90px;
    
}




.recherche
{
    position: absolute;
    margin-top: -485px;
    margin-left: 889px;
    font-size: 20px;
    z-index: 5;
    
    
}

.recherche a /* Liens par défaut (non survolés) */
{
    text-decoration: none;
    color:black;
    font-size: 15px;
  
  
}

.recherche a:hover /* Apparence au survol des liens */
{
   text-decoration: underline;
   color: #EA008A;
}

.titre1
{
    color: deeppink;
    font-size: 17px;
}

#formulaire
{
    margin-top: 50%;
    font-size: 100%;
    display: inline-block;
    text-align: justify;
    color: black;
    margin: xx auto ;
    padding: 0;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


#button
{
    margin-top: 23%;
}

footer
{
    border-width: 1px solid black;
    background-color: black;
    margin-top: 75%;
    
}

#fin li
{
    display: inline-block;
    font-size: 12px;
    color: white;
    
}


#fin a
{ color: white;
  text-decoration: none;
  display: inline-block;
  margin-right: 40px;
  margin-left: 40px;
     
}

.fi
{
  margin-left: 250px;
}
